@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    background-color: #EAEAEA;
}

header, footer {
    width: 100%;
    background-color: #88C1EA;
    font-size: 20px;
    color: white;
    height: 140px;
    margin-bottom: 30px;

}

.haut {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoF {
    width: 100px;
    margin-right: 400px;
    margin-left: 70px;
}

.logoUpto {
    width: 200px;
    margin-left: 350px;
}

.logoFourmerce {
    width: 350px;
}

.solution {
    text-align:center;
    font-size: 15px;
}

nav {
    background-color: #A2C037;
    width: 25%;
    height: 1050px;
    margin-left: 20px;
    color: white;
    padding: 20px;
    box-shadow: 8px 5px 10px #61A85F;
}

.propos {
    text-align: center;
}

.ligne {
    border-top: 2px solid white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

main, .milieu, .groupeSection {
    width: 100%;
    height: 100%;
}

.milieu {
    display: flex;
    flex-direction: row;
}

article {
    background-color: #A1A1A1;
    width: 70%;
    height: 430px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 8px 5px 10px dimgrey;
}

.groupeSection {
    display: flex;
    flex-direction: column;
}

.titre {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-weight: bold;
}

.formulaire, .formulaire2 {
    background-color: #D7D7D7;
    display: flex;
    justify-content: center;
    width: 70%;
    text-align: left;
    font-size: 25px;
    margin:auto;
    margin-top: 30px;
    height: 70%;
    padding-left: 70px;
}

input {
    width: 450px;
    height: 30px;
    border-radius: 20px;
}

button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #A1A1A1;
    border: none;
    border-radius: 20px;
    margin-left: 180px;
    margin-top: 20px;
}

.inputNom, .inputPrenom {
    display: flex;
    flex-direction: row;
}

.formulaire2 {
    height: 80%;
}

footer {
    margin-bottom: 0;
    margin-top: 20px;
    height: 100px;
    background-color: #339966;
}

.logoFt {
    width: 150px;
    border-radius: 10px;
    margin-left: 1200px;
    margin-top: 10px;
}

.structure {
    font-family: 'Vidaloka', serif;
}

.chiffres p {
    font-size: 17px;
    margin-bottom: 10px;
}
