@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #88C1EA;
    font-size: 20px;
    color: white;
    height: 140px;
    margin-bottom: 30px;
}

.haut {
    display: flex;
    flex-diraction: column;
    align-items: center;
}

.logoF {
    width: 100px;
    margin-right: 400px;
    margin-left: 70px;
}

.logoUpto {
    width: 200px;
    margin-left: 350px;
}

.logoFourmerce {
    width: 400px;
}

.solution {
    text-align:center;
    font-size: 15px;
}

nav {
    background-color: #A2C037;
    width: 25%;
    height: 1000px;
    margin-left: 20px;
    color: white;
    padding:20px;
}

.propos {
    text-align: center;
}

.ligne {
    border-top: 2px solid white;
    width: 100%;
    margin-top: 20px;
}

main, .milieu, .groupeSection {
    width: 100%;
    height: 100%;
}

.milieu {
    display: flex;
    flex-diraction: row;
}

article {
    background-color: #F1D919;
    width: 70%;
    height: 410px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.groupeSection {
    display: flex;
    flex-diraction: column;
}

.titre {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-weight: bold;
}



